.product-add-form-container {
  height: 350px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-add-btn {
  padding: 10px 20px;
}

.btn-container {
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
