.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: grey;
  margin-top: 0px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 5px 15px;
      cursor: pointer;
      background-color: grey;
      color: aliceblue;
    }
    .active {
      padding: 5px 15px;
      background-color: aliceblue;
      color: gray;
      border-radius: 5px;
    }
  }
}
.page-content {
  padding: 10px 40px;
}

.footer {
  background-color: grey;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  padding: 10px;
}
