.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  background-color: rgb(230, 225, 216);
  padding: 15px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px black;
  color: rgb(82, 73, 71);
}
